.DS_Store
*.swp
*.swo
config/database.yml
config/email.yml
config/application.yml
config/settings.yml
config/secrets.yml
config/dde_connection.yml
schema.rb
*~
Gemfile.lock
log/*
.idea/*
.ruby-version
tmp/*
tmp/pids/*
public/touchscreentoolkit/*
*.lock
config/key
