# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d051429941963067e26ba8febfe10da8d589fced6c87f7d34968c7f3eb8694aa4479db0410431dd4e53233668aa148e661beee6125915e1a090d15df976b3b7c

test:
  secret_key_base: 10ba0dac95a48f469b6d78b694f1964f9514591bf25a815c0d3a3ad935a987c4ab05f103c0b6e8fe07da053ba2862a7041c654ad25b74033daceb75e333dcf0a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: kjedwoedjwodjiodwdwdaaaakaallalaamamalasssaspkdeodd9090ibiu23nwildo2i2g3d2dbl2oub2u2uo2bo2b2lvba
